{% extends "base.html" %}
{% block content %}
<ul class="nav nav-tabs" id="myTab">
    <li><a data-toggle="tab" href="#friends_tab">Friends</a></li>
    <li><a data-toggle="tab" href="#requests_tab">Friend Requests</a></li>
    <li><a data-toggle="tab" href="#pending_tab">Your Requests</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade in active" id="friends_tab">
        <div class="container top-pad">
            {% for friend in g.user.friends %}
            <a href="{{url_for('user_profile', linkname=friend.linkname)}}">
                <div class="row">
                    <div class="jumbotron">
                        <div class="row">
                            <div class="col-md-4">
                                <h2>{{friend.name}}</h2>
                            </div>
                            <div class="col-md-4">
                                <h2>{{friend.email}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="tab-pane fade in" id="requests_tab">
        <div class="container top-pad">
            {% for request in g.user.friend_requests %}
            <div class="row">
                <div class="jumbotron top-pad">
                    <div class="col-md-12">
                        <h2>{{request.requesting_user.name}}</h2>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="tab-pane fade in" id="pending_tab">
        <div class="container top-pad">
            {% for request in g.user.friends_requested %}
            <div class="row">
                <div class="col-md-12">
                    {{request.requested_user.name}}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
