{% extends "base.html" %}
{% block content %}
<ul class="nav nav-tabs" id="tabs">
    <li class="active"><a data-toggle="tab" href="#friends_tab">Friends</a></li>
    <li><a data-toggle="tab" href="#requests_tab">Friend Requests</a></li>
    <li><a data-toggle="tab" href="#pending_tab">Your Requests</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade in active" id="friends_tab">
        <div class="container top-pad">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Birthday</th>
                        <th>Last Seen</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for friend in g.user.friends %}
                    <tr>
                        <td><img src="{{friend.avatar(20)}}"><a href="{{url_for('user_profile', linkname=friend.linkname)}}">{{friend.name}}</a></td>
                        <td>{{friend.email}}</td>
                        <td>{{friend.bday_str()}}</td>
                        <td>{{friend.last_seen_str()}}</td>
                        <td><button class="btn btn-danger" id="del_fr-{{friend.id}}">Delete</button></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade in" id="requests_tab">
        <div class="container top-pad">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for req in g.user.friend_requests %}
                    <tr>
                        <td><a href={{url_for('user_profile', linkname=req.requesting_user.linkname)}}>{{req.requesting_user.name}}</a></td>
                        <td>{{req.requesting_user.email}}</td>
                        <td>
                            <div class="row">
                                <div class="col-md-2">
                                    <button id="add_req-{{req.id}}" class="btn btn-success">Accept</button>
                                </div>
                                <div class="col-md-3">
                                    <button id="del_req-{{req.id}}" class="btn btn-danger">Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade in" id="pending_tab">
        <div class="container top-pad">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for req in g.user.friends_requested %}
                    <tr>
                        <td><a href={{url_for('user_profile', linkname=req.requested_user.linkname)}}>{{req.requested_user.name}}</a></td>
                        <td>{{req.requested_user.email}}</td>
                        <td><button id="del_reqd-{{req.id}}" class="btn btn-danger">Delete</button></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock content %}
{% block footer %}
<script type="text/javascript" charset="utf-8">
var csrftoken = $('meta[name=csrf-token]').attr('content')
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
});
$("button").click(function(){
    var $tr = $(this).closest("tr");
    var id = this.id.split('-');
    $.ajax({
        url: 'api/friends',
        type: 'POST',
        dataType: 'text',
        contentType: "application/json",
        data: JSON.stringify({'action': id[0], 'id': id[1], 'csrf_token': csrftoken}),
        success: function (data, textStatus, xhr) {
            $tr.find('td').fadeOut(500, function(){
                $tr.remove();
            });
        }
    });
});
</script>
{% endblock footer %}
