{% extends "base.html" %}
{% block content %}
<ul class="nav nav-tabs" id="myTab">
    <li><a data-toggle="tab" href="#friends_tab">Friends</a></li>
    <li><a data-toggle="tab" href="#requests_tab">Friend Requests</a></li>
    <li><a data-toggle="tab" href="#pending_tab">Your Requests</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade in active" id="friends_tab">
        <div class="container top-pad">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Birthday</th>
                        <th>Last Seen</th>
                    </tr>
                </thead>
                <tbody>
                {% for friend in g.user.friends %}
                    <tr>
                        <td>{{friend.name}}</td>
                        <td>{{friend.email}}</td>
                        <td>{{friend.bday_str()}}</td>
                        <td>{{friend.last_seen_str()}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade in" id="requests_tab">
        <div class="container top-pad">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for req in g.user.friend_requests %}
                    <tr>
                        <td>{{req.requesting_user.name}}</td>
                        <td>{{req.requesting_user.email}}</td>
                        <td>
                            <div class="row">
                                <div class="col-md-2">
                                    <button class="btn btn-success">Accept</button>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-danger">Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade in" id="pending_tab">
        <div class="container top-pad">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for req in g.user.friends_requested %}
                    <tr>
                        <td>{{req.requested_user.name}}</td>
                        <td>{{req.requested_user.email}}</td>
                        <td><button class="btn btn-danger">Delete</button></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
