{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to the FriendZone!</h1>
            <p>Does Facebook have too many features for you? Are you sick of a newsfeed filled with ads and other things you don't care about? Then FriendZone is the social networking site for you. Get all the excitement of Facebook from 2007 where wall posts and friend requests were all that they had. Oh there's also a search feature so you'll be able to easily find your memories.</p>
        </div>
    </div>
</div>
{% endblock content %}
