{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <h1>FriendZone Login</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="jumbotron signup-box">
                <form action="" method="POST">
                    {{form.hidden_tag()}}
                    <div class="row">
                        <div class="col-md-12">
                            {{form.email.label}}{{form.email}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 field-sep ">
                            {{form.password.label}}{{form.password}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 field-sep ">
                            {{form.submit(class_="btn btn-primary")}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                Need to sign up? Try <a href="{{url_for('signup')}}">this link</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
