{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <h1>{{user.name}}</h1>
        </div>
        <div class="row">
            <em>"{{user.nickname}}"</em>
        </div>
        <div class="row">
            <img src="{{user.avatar(200)}}">
        </div>
    </div>
    <div class="col-md-7 top-pad">
        <div class="modal fade" id="post-modal" tabindex="-1" role="dialog" aria-labelledby="modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Compose Post</h4>
                    </div>
                    <form action="" method="POST">
                        {{post_form.hidden_tag()}}
                        <div class="modal-body">
                            {{post_form.content}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            {{post_form.submit(class_="btn btn-primary")}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
        {% if g.user in user.friends or g.user == user %}
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#post-modal"><i class="fa fa-plus"></i> Add post</button>
        {% elif user.friends_requested.filter_by(requested_user_id=g.user.id).all()|length%}
        <span id="pend">
            {% set req_id = user.friends_requested.filter_by(requested_user_id=g.user.id).one().id %}
            <button class="btn btn-success" type="button" id="add_req-{{req_id}}"><i class="fa fa-check"></i> Accept Friend Request</button>
            <button class="btn btn-danger" type="button" id="del_req-{{req_id}}"><i class="fa fa-times"></i> Delete Friend Request</button>
        </span>
        {% elif g.user.friends_requested.filter_by(requested_user_id=user.id).all()|length %}
        <span id="pend">
            {% set req_id = g.user.friends_requested.filter_by(requested_user_id=user.id).one().id %}
            <button class="btn btn-primary" type="button"><i class="fa fa-clock-o"></i> Pending Friend Request</button>
            <button class="btn btn-danger" type="button" id="del_reqd-{{user.id}}"><i class="fa fa-times"></i> Delete Pending Friend Request</button>
        </span>
        {% else %}
            <button class="btn btn-success" type="button" id="add_fr-{{user.id}}"><i class="fa fa-plus"></i> Add friend!</button>
        {% endif %}
        </div>
        {% for post in posts %}
        <div class="row field-sep">
            <div class="jumbotron">
                <div class="row">
                    <img src="{{post.poster.avatar(40)}}">
                </div>
                <div class="row">
                    <a href="{{url_for('user_profile', linkname=post.poster.linkname)}}">{{post.poster}}</a>
                </div>
                <div class="row">
                    {{post.timestamp_str()}}
                </div>
                <div class="row">
                    {{post.content|safe}}
                </div>
                {% if g.user.id == user.id or g.user.id == post.poster_id %}
                    <div class="row">
                        <button class="btn btn-danger" id="del_post-{{post.id}}"><i class="fa fa-times"></i> Delete</button>
                    </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-2">
        <div class="list-group top-pad">
            <a class="list-group-item active" href="#posts">Posts</a>
            <a class="list-group-item" href="#about">About</a>
            <a class="list-group-item" href="#friends_item">Friends</a>
        </div>
    </div>
</div>
{% endblock content %}
{% block footer %}
{% if user.friends_requested.filter_by(requested_user_id=g.user.id).all()|length %}
{% set req_id = user.friends_requested.filter_by(requested_user_id=g.user.id).one().id %}
{% elif g.user.friends_requested.filter_by(requested_user_id=user.id).all()|length %}
{% set req_id = g.user.friends_requested.filter_by(requested_user_id=user.id).one().id %}
{% endif %}

<script>
$("[id^=del_post-]").click(function(){
    var $jt = $(this).closest(".jumbotron");
    $.ajax({
        url: '/api/posts',
        type: 'POST',
        data: this.id,
        success: function (data, textStatus, xhr) {
            $jt.fadeOut(750, function(){
                $jt.remove();
            });
        }
    });
});
$("#add_fr-{{user.id}}").click(function(){
    $.ajax({
        url: '/api/friends',
        type: 'POST',
        data: this.id,
        success: function (data, textStatus, xhr) {
            location.reload();
        }
    });
});
$("#del_req-{{req_id}}, #del_reqd-{{req_id}}").click(function(){
    $.ajax({
        url: '/api/friends',
        type: 'POST',
        data: this.id,
        success: function (data, textStatus, xhr) {
            location.reload();
        }
    });
});
$("#add_req-{{req_id}}").click(function(){
    var $btn = $('#pend');
    $.ajax({
        url: '/api/friends',
        type: 'POST',
        data: this.id,
        success: function (data, textStatus, xhr) {
            $btn.fadeOut(500, function() {
                $btn.replaceWith('<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#post-modal"><i class="fa fa-plus"></i> Add post</button>');
            });
        }
    });
});
</script>
<script src="//cdn.ckeditor.com/4.5.4/basic/ckeditor.js"></script>
{% endblock footer %}
