{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
<div class="row">
    <div class="col-md-8 col-md-offset-2">
    <h1>FriendZone Signup!</h1>
    <div class="jumbotron signup-box">
        <form action="" method="POST">
            {{form.hidden_tag()}}
            <div class="row">
                <div class="col-md-3">
                    {{form.name.label}}
                </div>
                <div class="col-md-6">
                    {{form.name}}
                </div>
            </div>
            <div class="row field-sep">
                <div class="col-md-3">
                    {{form.nickname.label}}
                </div>
                <div class="col-md-6">
                    {{form.nickname}}
                </div>
            </div>
            <div class="row field-sep">
                <div class="col-md-3">
                    {{form.linkname.label}} <a href="#" data-placement="top" data-toggle="tooltip" title="You user data and profile will be at this link name">?</a>
                </div>
                <div class="col-md-6">
                    {{form.linkname}}
                </div>
            </div>
            <div class="row field-sep">
                <div class="col-md-3">
                    {{form.email.label}}
                </div>
                <div class="col-md-6">
                    {{form.email}}
                </div>
            </div>
            <div class="row field-sep">
                <div class="col-md-3">
                    {{form.password.label}}
                </div>
                    <div class="col-md-6">
                    {{form.password}}
                </div>
            </div>
            <div class="row field-sep">
                <div class="col-md-3">
                    {{form.confirm_password.label}}
                </div>
                <div class="col-md-6">
                    {{form.confirm_password}}
                </div>
            </div>
            <div class="row field-sep">
                <div class="col-md-3">
                    {{form.birthday.label}}
                </div>
                <div class="col-md-6">
                    {{form.birthday}}
                </div>
            </div>
            <div class="row field-sep form-group">
                <div class="col-md-3">
                    {{form.bio.label}}
                </div>
                <div class="col-md-9">
                    {{form.bio(class_="form-control")}}
                </div>
            </div>
            <div class="row field-sep">
                <div class="col-md-3 col-md-offset-3">
                    {{form.submit}}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
{% block footer %}
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock footer %}
